@page
@model MascotaEpets.app.Presentacion.Pages.BuscarRegistroModel
@{
}
<div class="row">
    <div class="col-lg col-md col">
        <div class="card">
            <div class="card-header bg-dark bg-gradient text-light">
              <h2>Registro Medico</h2>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Recomendaciones</th>
                            <th>Fecha de Atencion</th>
                            <th>Medicamentos</th>
                        </tr>
                    </thead>
                    <tbody>   
                             <tr>
                                    <td>
                                        @Model.registro.IdRegistroMedico
                                    </td>
                                    <td>
                                        @Model.registro.Recomendaciones
                                    </td>
                                    <td>
                                        @Model.registro.FechaAtencion
                                    </td>
                                    <td>
                                        @Model.registro.Medicamentos
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                       <a asp-page="./ListaRegistros" class="btn btn-primary">Regresar</a>
                                    </td> 
                                    
                                </tr>
                    </tbody>
                </table>
            </div>
            <div class="card bg-dark bg-gradient text-light">
                <div class="card-footer"></div>
            </div>
        </div>
    </div>
    
</div>