@page
@model MascotaEpets.app.Presentacion.Pages.IngresarEmpresaModel
@{
}
<div class="card bg-dark bg-gradient text-light">
<h3>Registre Empresa</h3>
</div>
<form method="post">
<div class="form-group">
        <label asp-for="empresa.NombreEmpresa"></label>
        <input id="Nombre_Empresa" type="text" asp-for="empresa.NombreEmpresa" class="form-control" placeholder="Ingrese Nombre de la Empresa"/>
    </div>
    <div class="form-group">
        <label asp-for="empresa.Nit"></label>
        <input id="nit" type="text" asp-for="empresa.Nit" class="form-control" placeholder="Ingrese el Nit"/>
    </div>
    <div class="form-group">
        <label asp-for="empresa.Direccion"></label>
        <input id="direccion" type="text" asp-for="empresa.Direccion" class="form-control" placeholder="Ingrese la Direccion"/>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary"><img src="~/img/guardar.png" width="24"  class="img"/>Guardar</button>
    </div>
</form>
<button id="Cancelar" onclick="LimpiarForm()" type="submit" class="btn btn-danger">Cancelar</button>

<a asp-page="./ListaEmpresa" class="btn btn-primary">Regresar</a>       
<script>

        function LimpiarForm(){

            $("#Nombre_Empresa").val('');
            $("#nit").val('');
            $("#direccion").val('');
           
        }

</script>