@page
@model MascotaEpets.app.Presentacion.Pages.ActualizarMedicosModel
@{
}

<h1>Actualizar Medicos</h1>
<a asp-page="./ListadoMedicos" class="btn btn-primary">Regresar a listado Medicos</a>
<form method="post">
    <div class="form-group">
        <label asp-for="medico.Nombres"></label>
        <input id="Nombre" type="text" asp-for="medico.Nombres" class="form-control" placeholder="Ingrese Nombres"/>
        <input id="IdMedico" type="hidden" asp-for="medico.IdMedico" class="form-control" placeholder="Ingrese Nombres"/>
    </div>
    <div class="form-group">
        <label asp-for="medico.Apellidos"></label>
        <input id="Apellido" type="text" asp-for="medico.Apellidos" class="form-control" placeholder="Ingrese Apellidos"/>
    </div>
    <div class="form-group">
        <label asp-for="medico.TarjetaProfesional"></label>
        <input id="TarjetaPro" type="text" asp-for="medico.TarjetaProfesional" class="form-control" placeholder="Ingrese Tarjeta Profesional"/>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" onclick="Actualizado()">Actualizar Datos</button>
        
       
    </div>
</form>
<button id="Cancelar" onclick="LimpiarForm();" type="submit"  class="btn btn-danger">Cancelar</button>

<script>

        function LimpiarForm(){

            $("#Nombre").val('');
            $("#Apellido").val('');
            $("#TarjetaPro").val('');
        }

        function Actualizado(){

            confirm("Registro Actualizado,con exito");
        }

</script>
