@page
@model MascotaEpets.app.Presentacion.Pages.IngresarMedicoModel
@{
}
<div class="card bg-dark bg-gradient text-light">
<h3>Ingresar Medico</h3>
</div>
<form method="post">
<div class="form-group">
        <label asp-for="medico.Nombres"></label>
        <input id="Nombre" type="text" asp-for="medico.Nombres" class="form-control" placeholder="Ingrese Nombres"/>
    </div>
    <div class="form-group">
        <label asp-for="medico.Apellidos"></label>
        <input id="Apellido" type="text" asp-for="medico.Apellidos" class="form-control" placeholder="Ingrese Apellidos"/>
    </div>
    <div class="form-group">
        <label asp-for="medico.Cedula"></label>
        <input id="Cedula" type="text" asp-for="medico.Cedula" class="form-control" placeholder="Ingrese Cedula"/>
    </div>
    <div class="form-group">
        <label asp-for="medico.Telefono"></label>
        <input id="Telefono" type="text" asp-for="medico.Telefono" class="form-control" placeholder="Ingrese Telefono"/>
    </div>
    <div class="form-group">
        <label asp-for="medico.TarjetaProfesional"></label>
        <input id="TarjetaPro" type="text" asp-for="medico.TarjetaProfesional" class="form-control" placeholder="Ingrese Tarjeta Profesional"/>
    </div>
    <div class="form-group">
        <label asp-for="medico.TipoAnimal"></label>
        <select id="seleccion" asp-items='@new SelectList(Model.tipoanimal_,"IdAnimal","Animal")' class="form-control-sm">
            <option value="">Seleccione el Tipo Animal</option>
        </select>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
</form>
<button id="Cancelar" onclick="LimpiarForm()" type="submit" class="btn btn-danger">Cancelar</button>

<a asp-page="./ListadoMedicos" class="btn btn-primary">Regresar</a>       
<script>

        function LimpiarForm(){

            $("#Nombre").val('');
            $("#Apellido").val('');
            $("#TarjetaPro").val('');
            $("#Cedula").val('');
            $("#Telefono").val('');
        }

</script>